@import './MainMixinst';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.large{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background: rgba(84,86,98,0.7);
        @include flex(column,center,center);
        flex-wrap: nowrap!important;
        &_close{
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
        }
        &_main{
        &_description_btn{
                @include flex(row,space-between,center);
                >div{
                        max-width: 100px;
                        color: #FFF;
                        font-family: 'Lobster', cursive;
                        font-size: 25px;
                }

        }
}

}